admin-csr.json
admin.crt
admin.csr
admin.key
ca.crt
ca.csr
ca.key
ca.srl
etcd-server.crt
etcd-server.csr
etcd-server.key
kube-apiserver.crt
kube-apiserver.csr
kube-apiserver.key
kube-controller-manager.crt
kube-controller-manager.csr
kube-controller-manager.key
kube-proxy.crt
kube-proxy.csr
kube-proxy.key
kube-scheduler.crt
kube-scheduler.csr
kube-scheduler.key
openssl-etcd.cnf
openssl.cnf
service-account.crt
service-account.csr
service-account.key
worker-0-csr.json
worker-0-key.pem
worker-0.csr
worker-0.kubeconfig
worker-0.pem
worker-1-csr.json
worker-1-key.pem
worker-1.csr
worker-1.kubeconfig
worker-1.pem
worker-2-csr.json
worker-2-key.pem
worker-2.csr
worker-2.kubeconfig
worker-2.pem
service-account-key.pem
service-account.csr
service-account.pem
service-account-csr.json
.idea
ubuntu-bionic*.log
.vagrant
temp